apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
    tier: front
  name: vote
spec:
  template:
    spec:
      containers:
      - image: docker.io/schoolofdevops/vote:v4
        name: vote
